
<footer class="footer mt-auto py-3 bg-light text-center">
    <div class="container d-flex justify-content-between align-items-center flex-wrap">
        <div>
          <a>НИЯУ МИФИ</a>
        </div>
        <div class="ms-auto">
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSdOPSwwBqINV6MVzbncnCCdKGiFhIQZZ3dWJras-xwEIHT6Jw/viewform" target="_blank" rel="noopener noreferrer"> Оставьте отзыв</a> 
        </div>
        <div class="ms-auto">
          Разработано под руководством
          <a href="https://home.mephi.ru/ru/users/1254/public" target="_blank" rel="noopener noreferrer"> Никифорова Андрея Юрьевича</a> 
        </div>
      </div>
</footer>
