{% load static %}
<header class="header header-sticky mb-4">
  <div class="container-fluid">
    <button
      class="header-toggler px-md-0 me-md-3"
      type="button"
      onclick="coreui.Sidebar.getInstance(document.querySelector('#sidebar')).toggle()"
    >
      <svg class="icon icon-lg">
        <use xlink:href="/static/assets/free.svg#cil-menu"></use>
      </svg></button
    ><a class="header-brand d-md-none" href="#">
      <svg width="118" height="46" alt="CoreUI Logo">
        <use xlink:href="/static/assets/coreui.svg#full"></use></svg
    ></a>

    <!-- Аватар + имя пользователя -->
    <ul class="header-nav ms-3">
      <li class="nav-item dropdown">
        <a
          class="nav-link py-0"
          data-coreui-toggle="dropdown"
          href="#"
          role="button"
          aria-haspopup="true"
          aria-expanded="false"
        >

         <!-- ФИО -->
         <span class="fw-semibold text-dark me-2">
          {{ data.last_name }} {{ data.first_name|slice:":1"}}.
            {% if data.middle_name and data.middle_name != "string" %}
            {{ data.middle_name|slice:":1" }}.
            {% endif %}
        </span>
        <!-- АВАТАР -->
         {% if role|lower == 'student' %}
         <img
         src="{% static 'images/cat.png' %}"
         alt="Аватар"
         class="rounded-circle"
         style="width: 36px; height: 36px; object-fit: cover;"
       />
       {% elif role|lower == 'teacher' %}
       <img
          src="{% static 'images/cat_teacher.jpg' %}"
          alt="Аватар"
          class="rounded-circle"
          style="width: 36px; height: 36px; object-fit: cover;"
        />    
        {% endif %}
      </a>

        <!-- Выпадающее меню -->
        <div class="dropdown-menu dropdown-menu-end pt-0">
          <a class="dropdown-item" href="{% url 'logout'%}">
            <svg class="icon me-2">
              <use xlink:href="/static/assets/free.svg#cil-user"></use>
            </svg>
            Выйти</a
          >
        </div>
      </li>
    </ul>
  </div>
</header>
