{% load static %} {% if user.is_authenticated %}
<div class="sidebar sidebar-dark sidebar-fixed" id="sidebar">
  <div class="sidebar-brand d-none d-md-flex">
    <img
      src="{% static 'images/white_logo.png' %}"
      width="130"
      height="60"
      alt="My Logo"
    />
  </div>

  <ul class="sidebar-nav" data-coreui="navigation" data-simplebar="">
    <li class="nav-title">Главная</li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'student-home' user_id %}"> <!-- здесь обязательно нужно исправить, чтобы переводил в нужную стрничку для каждой роли -->
        <svg class="nav-icon">
          <use
            xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-home"
          ></use></svg
        >Личная страница</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        href="{% url 'choose-teacher' user_id %}"
      >
        <svg class="nav-icon">
          <use
            xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-cursor"
          ></use></svg
        >Выбор научного <br> руководителя</a
      >
    </li>

    <li class="nav-item">
      <a
        class="nav-link"
        href="{% url 'student-assignments' user_id %}"
      >
        <svg class="nav-icon">
          <use
            xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-envelope-closed"
          ></use></svg
        >Отправленные заявки</a
      >
    </li>

    <li class="nav-group">
      <a 
        class="nav-link" 
        href="#">
        <svg class="nav-icon">
          <use
            xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-puzzle"
          ></use>
        </svg>
        Мои работы</a
      >
      <ul class="nav-group-items">
        {% for submission in submissions %}
        <li class="nav-item">
          <a
            class="nav-link"
            href="{% url 'research-work-detail' rw_id=submission.research_work.id subm_id=submission.id %}"
            ><span class="nav-icon"></span>{{submission.research_work.name}} -
            Сем.{{submission.semester}}</a
          >
        </li>


        {% endfor %}
      </ul>
    </li>

    <li class="nav-item">
      <a
        class="nav-link"
        href="#"
      >
        <svg class="nav-icon">
          <use
            xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-mobile"
          ></use></svg
        >Мобильное <br> приложение</a
      >
    </li>
  </ul>
  <button
    class="sidebar-toggler"
    type="button"
    data-coreui-toggle="unfoldable"
  ></button>
</div>
{% endif %}
