{% load static %}
<div class="sidebar sidebar-dark sidebar-fixed" id="sidebar">
  <div class="sidebar-brand d-none d-md-flex">
    <img
      src="{% static 'images/white_logo.png' %}"
      width="130"
      height="60"
      alt="My Logo"
    />
  </div>

  <ul class="sidebar-nav" data-coreui="navigation" data-simplebar="">
    <li class="nav-title">Главная</li>
    <li class="nav-item">
      <a
        class="nav-link"
        href="{% url 'teacher-home' %}">
        <svg class="nav-icon">
          <use
            xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-home"
          ></use></svg>Личная страница</a>
    </li>
    <li class="nav-group">
      <a class="nav-link" href="{% url 'review-assignment' %}">
        <svg class="nav-icon">
          <use
            xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-user-follow"
          ></use></svg>Список заявок</a>   
    </li>
    <li class="nav-group">
      <a class="nav-link" href="{% url 'review-submissions' %}">
        <svg class="nav-icon">
          <use
            xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-list"
          ></use></svg>Работа студентов</a>   
    </li>
    <li class="nav-group">
      <a class="nav-link" href="{% url 'create-submission' %}">
        <svg class="nav-icon">
          <use
            xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-file"
          ></use></svg>Создать работу</a>   
    </li>
    <li class="nav-group">
      <a class="nav-link" href="{% url 'show-statistics' %}">
        <svg class="nav-icon">
          <use
            xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-spreadsheet"
          ></use></svg>Просмотр статистики</a>   
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        href="{% url "mobile-app" %}"
      >
        <svg class="nav-icon">
          <use
            xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-mobile"
          ></use></svg
        >Мобильное <br> приложение</a
      >
    </li>
  </ul>
  <button
    class="sidebar-toggler"
    type="button"
    data-coreui-toggle="unfoldable"
  ></button>
</div>
