{% extends "main.html" %} {% block head %}
<style>
  .clickable-card {
    cursor: pointer;
  }
  tr {
    cursor: pointer;
  }
</style>
{% endblock %} {% block content %}
<div class="body flex-grow-1 px-3">
  <div class="container-lg">
    {% for topic, files in topic_files.items %}
    <div class="card mb-4">
      <div class="card-header">
        <strong>{{topic.name}}</strong>
      </div>
      <div class="card-body">
        <div class="example">
          <div class="table table-responsive">
            <table class="table align-middle">
              <thead>
                <tr>
                  <td style="width: 20%" scope="col">Файл</td>
                  <td style="width: 20%" scope="col">Дата</td>
                  <td style="width: 20%" scope="col">Статус проверки</td>
                  <td style="width: 20%" scope="col">Комментарий</td>
                </tr>
              </thead>
              <tbody>
                {% for file in files %}
                <tr>
                  <td>
                    <a href="{{file.filename.url}}" target="_blank"
                      >{{ file.filename}}</a
                    >
                  </td>
                  <td>{{ file.upload_date|date:"Y-m-d H:i"}}</td>
                  {% if file.is_reviewed %} {% if file.is_accepted %}
                  <td style="color: green">Принято</td>
                  {% else %}
                  <td style="color: red">Не принято</td>
                  {% endif %} {% else %}
                  <td style="color: orange">На проверке</td>
                  {% endif %}
                  <td>{{file.comment}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          {% if not files %}
          <div class="alert alert-warning" role="alert">
            No files uploaded for this topic yet.
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const clickableRows = document.querySelectorAll(".clickable-row");
    clickableRows.forEach((row) => {
      row.addEventListener("click", function () {
        window.location.href = this.getAttribute("data-href");
      });
    });
  });
</script>
{% endblock content %}
