{% extends "main.html" %}
{% load static %}
{% block content %}
<div class="container mt-4">
  <div class="card">
    <div class="card-header">
      <strong>Редактирование профиля</strong>
    </div>
    <div class="card-body">
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row mb-3">
          <div class="col-md-3 text-center">
            <!-- Фото пользователя, в дальнейшем фото прфил будет зависеть от роли пользователя, когда появится ручка--> 
            <img src="{% static 'images/cat.png' %}" alt="Avatar" class="img-thumbnail mb-2" style="width: 150px; height: 150px; object-fit: cover;">
            <input class="form-control form-control-sm" type="file" name="avatar" disabled> <!-- Пока заглушка -->
          </div>
          <div class="col-md-9">
            <!-- Поля -->
            <div class="row mb-3">
              <div class="col">
                <label class="form-label">Фамилия</label>
                <input type="text" name="last_name" class="form-control" value="{{ data.last_name }}">
              </div>
              <div class="col">
                <label class="form-label">Имя</label>
                <input type="text" name="first_name" class="form-control" value="{{ data.first_name }}">
              </div>
            </div>
            <div class="row mb-3">
              <div class="col">
                <label class="form-label">Отчество</label>
                <input type="text" name="middle_name" class="form-control" value="{{ data.middle_name }}">
              </div>
              <div class="col">
                <label class="form-label">Email</label>
                <input type="email" name="email" class="form-control" value="{{ data.email }}">
              </div>
            </div>
            <div class="row mb-3">
              {% if role == "Student" %}
              <div class="col-md-6">
                <label class="form-label">Группа</label>
                <input type="text" name="group_name" class="form-control {% if group_error %}is-invalid{% endif %}" list="group-list" value="{{ group_name }}">
                <datalist id="group-list">
                  {% for group in groups %}
                    <option value="{{group.group_name}}"></option>
                  {% endfor %}
                </datalist>
                {% if group_error %}
                  <div class="invalid-feedback">
                    {{group_error}}
                  </div>
                {% endif %}
                
              </div>
              {% endif %}
              <div class="col-md-6">
                <label class="form-label">Обо мне</label>
                <textarea name="about_me" class="form-control" rows="7">{{data.about_me}}</textarea>
              </div>
            </div>
          </div>
        </div>

        <div class="d-flex justify-content-end">
          {% if role == "Student" %}
            <a href="{% url 'student-home' %}" class="btn btn-secondary me-2">Назад</a>
          {% elif role == "Teacher" %}
            <a href="{% url 'teacher-home' %}" class="btn btn-secondary me-2">Назад</a>
          {% endif %}
          <button type="submit" class="btn btn-primary">Сохранить</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
