<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/@coreui/coreui@5.0.0/dist/css/coreui.min.css"
      rel="stylesheet"
      integrity="sha384-KGkYqG3gD435LMZAC/8byquZiD5665LheNozmHAqp8vrOKBaBL/bFUO5Er5tMRNi"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/@coreui/coreui@5.0.0/dist/js/coreui.bundle.min.js"
      integrity="sha384-Wl6mLWl+C0OgKzQqXtoEXuTkm2RwXManFDTNyMRxPR5zh3DFIUIDhq7Fp1JCFm1V"
      crossorigin="anonymous"
    ></script>
    <title>NIR</title>
  </head>

  <body>
    <div class="bg-light min-vh-100 d-flex flex-row align-items-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="card-group d-block d-md-flex row">
              <div class="card col-md-7 p-4 mb-0">
                <div class="card-body">
                  <h1>Вход</h1>
                  <br>
                  <form method="POST" action="">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                      <span class="input-group-text">
                        <svg class="icon">
                          <!-- prettier-ignore-start -->
                          <use
                            xlink:href="{% static 'assets/free.svg#cil-user'%}"
                          ></use>
                          <!-- prettier-ignore-end -->
                        </svg></span
                      >
                      <input
                        class="form-control"
                        type="text"
                        name="username"
                        placeholder="Имя пользователя"
                      />
                    </div>
                    <div class="input-group mb-4">
                      <span class="input-group-text">
                        <svg class="icon">
                          <use
                            xlink:href="{% static 'assets/free.svg#cil-lock-locked' %}"
                          ></use></svg>
                      </span>
                      <input
                        class="form-control"
                        type="password"
                        name="password"
                        placeholder="Пароль"
                      />
                    </div>
                    <div class="row">
                      <div class="col-6">
                        <button class="btn btn-primary px-4" type="submit">
                          Войти
                        </button>
                      </div>
                      <div class="col-6 text-end">
                        <a href="{% url 'register' %}" class="btn btn-link">Регистрация</a>
                      </div>
                    </div>
                    <br>
                    {% if messages %}
                      <div class="mb-3">
                        {% for message in messages %}
                          <div class="alert alert-warning" role="alert">
                            {{ message }}
                          </div>
                        {% endfor %}
                      </div>
                    {% endif %}
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</html>
