{% extends "main.html" %} {% block head %}
<style>
  .clickable-card {
    cursor: pointer;
  }
  tr {
    cursor: pointer;
  }
</style>
{% endblock %} {% block content %}
<div class="body flex-grow-1 px-3">
  <div class="container-lg">
    <div class="card mb-4">
      <div class="card-header">
        <strong>Выбор научного руководителя</strong>
      </div>
      <div class="card-body">
        <div class="example">
          <div class="tab-content rounded-bottom">
            <div
              class="tab-pane p-3 active preview"
              role="tabpanel"
              id="preview-234"
            >
              <div class="row align-items-center justify-content-between">
                <div class="col">
                  <!-- prettier-ignore -->
                  {% if teacher_assigned %} 
                  {{ assignment.teacher.user.first_name }} 
                  {{ assignment.teacher.user.last_name }} 
                  {% else %} 
                  ФИО научрука
                  {% endif %}
                  <!-- prettier-ignore -->
                </div>

                <div class="col-auto">
                  <!-- prettier-ignore -->
                  {% if teacher_assigned %}
                  <a
                    href="{% url 'choose-teacher' student_id=student.id %}"
                    class="btn btn-primary"
                  >
                    Изменить</a
                  >
                  {% else %}
                  <a
                    href="{% url 'choose-teacher' student_id=student.id %}"
                    class="btn btn-danger"
                  >
                    Не выбран</a
                  >
                  {% endif %}
                  <!-- prettier-ignore -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-header">
        <strong>Выбор работы</strong>
      </div>

      <div class="card-body">
        <div class="example">
          <table class="table table-hover">
            <thead>
              <tr>
                <th style="width: 20%" scope="col">#</th>
                <th style="width: 20%" scope="col">Работа</th>
                <th style="width: 20%" scope="col">Семестр</th>
                <th style="width: 20%" scope="col">Научный руководитель</th>
              </tr>
            </thead>
            <tbody>
              {% for submission in submissions %}
              <tr
                class="clickable-row"
                data-href="{% url 'research-work-detail' rw_id=submission.research_work.id semester=submission.semester subm_id=submission.id %}"
              >
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ submission.research_work.name }}</td>
                <td>{{ submission.semester }}</td>
                <td>
                  {{submission.assignment.teacher.user.first_name}}
                  {{submission.assignment.teacher.user.last_name}}
                </td>
              </tr>

              {% endfor %}
            </tbody>
          </table>
          <br />
          <form class="row g-3" method="POST" action="">
            {% csrf_token %}
            <div class="col-md-6">
              <label class="form-label" for="researchWorkSelect">Работа</label>
              <select
                class="form-select"
                id="researchWorkSelect"
                name="research_work_id"
              >
                <option selected>Choose...</option>
                {% for work in research_works %}
                <option value="{{work.id}}">{{work.name}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col-md-4">
              <label class="form-label" for="semesterSelect">Семестр</label>
              <select class="form-select" id="semesterSelect" name="semester">
                <option selected>Choose...</option>
                {% for sem in semester %}
                <option>{{sem}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col-12">
              <button class="btn btn-primary" type="submit">Добавить</button>
            </div>
          </form>
          <br />
        </div>
      </div>
    </div>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const clickableRows = document.querySelectorAll(".clickable-row");
      clickableRows.forEach((row) => {
        row.addEventListener("click", function () {
          window.location.href = this.getAttribute("data-href");
        });
      });
    });
  </script>
  {% endblock content %}
</div>
