{% extends "main.html" %} {% block head %}
<style>
  .clickable-card {
    cursor: pointer;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .card-content {
    flex-grow: 1;
  }

  .card-footer {
    margin-top: 10px;
  }

  .card-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  .textarea-comment {
    resize: none;
  }
</style>

{% endblock %} {% block content %}
<div class="body flex-grow-1 px-3">
  <div class="container-lg">
    <div class="card mb-4">
      <div class="card-header">
        <strong>{{submission_data.submission_title}}</strong>
      </div>
      <div class="card-body">
        <div class="example">
          <div class="tab-content rounded-bottom">
            <div
              class="tab-pane p-3 active preview"
              role="tabpanel"
              id="preview-946"
            >
              <div class="row">
                {% for topic_value in topics %}
                <div class="col-xl-4 mb-4">
                  <div class="card text-white bg-info clickable-card">
                    <div class="card-header">{{submission_data.research_work.name}}</div>
                    <div class="card-body d-flex flex-column">
                      <h5 class="card-title">{{topic_value.topic.name}}</h5>

                      {% if topic_value.files and topic_value.files|length > 0 %}
                      {% for file in topic_value.files|dictsortreversed:"upload_date" %}
                      <!-- <p>{{ file.id }} | {{ file.original_filename }} | {{ file.upload_date }}</p> -->
                      <!-- {% with last_file=topic_value.files|first %} -->
                      <div class="d-flex justify-content-between align-items-center">
                        <a 
                        href="{% url 'download-file' file_id=file.id %}" 
                        class="text-white fw-bold d-block text-decoration-underline" 
                        download="{{ last_file.original_filename }}"
                        >
                          {{ file.original_filename }}
                        </a>

                        {% if topic_value.is_accepted == None %}
                      <a 
                        href="{% url 'delete-file' user_id=user_id file_id=file.id %}?submission_id={{submission_data.id}}" 
                        class="btn btn-sm btn-danger ms-2 d-flex align-items-center justify-content-center" 
                        style="width: 32px; height: 32px;"
                        title="Удалить файл"
                        >
                        <svg class="nav-icon">
                          <use
                            xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-trash"
                          ></use>
                        </svg>
                      </a>
                        {% endif %}
                      </div>
                      <!-- {% endwith %} -->
                      {% endfor %}
                      {% if topic_value.is_accepted is True %}
                      <p class="mt-2 text-success fw-bold">Принято</p>
                      {% if topic_value.comments and topic_value.comments|length > 0 %}
                        {% with last_comment=topic_value.comments|last %}
                          <p class="mt-2 fw-bold">Комментарий: {{ last_comment.comment }}</p>
                        {% endwith %}
                      {% endif %}
                      {% elif topic_value.is_accepted is False %}
                      <p class="mt-2 text-danger fw-bold">Отклонено</p>
                      {% if topic_value.comments and topic_value.comments|length > 0 %}
                        {% with last_comment=topic_value.comments|last %}
                          <p class="mt-2 fw-bold">Комментарий: {{ last_comment.comment }}</p>
                        {% endwith %}
                      {% endif %}
                      {% else %}
                      <p class="mt-2 text-warning fw-bold">На рассмотрении</p>
                      {% endif %}
                      
                      {% else %}
                      <p class="text-white text-center">Файл не загружен</p>
                      {% endif %}
                      <!-- Статус -->
                    
                    {% if topic_value.is_accepted != True %}
                    <div class="card-footer">
                      <form method="POST" enctype="multipart/form-data" action="">
                        {% csrf_token %}
                        <input type="file" name="file" class="form-control mb-2" required>
                        <input type="hidden" name="submission_topic_id" value="{{ topic_value.id }}">
                        <button type="submit" class="btn btn-light btn-sm w-100">Загрузить</button>
                      </form>
                    </div>
                    {% endif %}
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
