{% extends "main.html" %}
{% load static %}
{% block head %}
<style>
  .clickable-card {
    cursor: pointer;
  }
  tr {
    cursor: pointer;
  }
</style>
{% endblock %} {% block content %}
<div class="body flex-grow-1 px-3">
  <div class="container-lg">
    <div class="row">
      <!-- Левая часть (Фото + ФИО + Группа) -->
      <div class="col-md-4">
        <div class="card profile-card p-4">
          <!-- ФОТО -->
          <img src="{% static 'images/cat_teacher.jpg' %}" alt="Фото профиля" class="profile-image-rectangle mb-3">

          <!-- ФИО -->
          <h5 class="mt-3">{{ data.last_name }} {{ data.first_name}} 
            {% if data.middle_name and data.middle_name != "string" %}
            {{ data.middle_name }}
            {% endif %}
          </h5>
          <p class="text-muted">Имя пользователя: {{ data.username }}</p>
          <p class="text-muted">Почта: {{ data.email }}</p>
          <!-- Кнопка редактирования -->
          <a href="{% url 'edit-profile' %}" class="btn btn-outline-primary btn-sm mt-2">
            <i class="fas fa-edit"></i> Редактировать
          </a>
        </div>
      </div>
    

  
   <!-- Правая часть (уведомление о полученных запросах + Список принятых студентов) -->
  <div class="col-md-8">
    <div class="card mb-4">
      <div class="card-header">
        <strong>Новые заявки</strong>
      </div>
      <div class="card-body">
        <div class="example">
          <div class="row align-items-center justify-content-between">
            <div class="col">
              <!-- prettier-ignore -->
              {% if student_requests_num != 0 %} 
              {{student_requests_num}} новые заявки
              {% else %} 
              У вас нет заявок
              {% endif %}
              <!-- prettier-ignore -->
            </div>

            <div class="col-auto">
              <a
                href="{% url 'review-assignment' %}"
                class="btn btn-primary"
              >
                Просмотр</a
              >  
            </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Правая часть (Список принятых студентов) -->
    <div class="card mb-4">
      <div class="card-header"><strong>Студенты под моим руководством</strong></div>
      <div class="card-body">
        <div class="examples">
          <table class="table table-hover">
            <thead>
              <tr>
                <th style="width: 5%" scope="col">№</th>
                <th style="width: 20%" scope="col">ФИО студента</th>
                <th style="width: 15%" scope="col">Группа</th>
                <th style="width: 20%" scope="col">Семестр</th>
              </tr>
            </thead>
            <tbody>
              {% if students %}
              {% for student in students %}
              <tr class="clickable-row"
                  data-href="#">
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{student.last_name}} {{student.first_name}} 
                  {% if student.middle_name and studnt.middle_name != "string" %}
                  {{ student.middle_name }}
                  {% endif %}
                </td>
                <td>
                  {% if student.group %}
                  {{student.group.group_name}}
                  {% else %}
                  Группа не указана
                  {% endif %}
                </td>
                <td>Весенний семестр 2024/2025 учебного года</td>
              </tr>{% endfor %}
              {% else %}
              <td>У вас пока нет студентов</td>
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const clickableRows = document.querySelectorAll(".clickable-row");
    clickableRows.forEach((row) => {
      row.addEventListener("click", function () {
        window.location.href = this.getAttribute("data-href");
      });
    });
  });
</script>
{% endblock content %}
