{% extends "main.html" %} {% load crispy_forms_tags %} {% block content %}

<div class="body flex-grow-1 px-3">
  <div class="container-lg">
    <div class="card mb-4">
      <div class="card-header">
        <strong>Файл</strong>
      </div>
      <div class="card-body">
        <div class="example">
          <form
            method="POST"
            action="{% url 'upload-file' subm_id=submission.id topic_id=topic.id %}"
            enctype="multipart/form-data"
          >
            {% csrf_token %}
            <div class="mb-3">
              <label class="form-label" for="{{ form.filename.id_for_label}} "
                >Загрузите файл</label
              >
              {{ form|crispy }}
            </div>
            <input class="btn btn-secondary" type="submit" value="Submit" />
          </form>
        </div>
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-header">
        <strong>История загрузки</strong>
      </div>
      <div class="card-body">
        <div class="example">
          <div class="table-responsive">
            <table class="table align-middle">
              <thead>
                <tr>
                  <th style="width: 20%" scope="col">Файл</th>
                  <th style="width: 20%" scope="col">Дата загрузки</th>
                  <th style="width: 20%" scope="col">Статус проверки</th>
                  <th style="width: 20%" scope="col">Комментарий</th>
                </tr>
              </thead>
              <tbody>
                {% for file in file_list %}
                <tr>
                  <td>
                    <a href="{{file.filename.url}}" target="_blank"
                      >{{ file.filename.name }}</a
                    >
                  </td>
                  <td>{{file.upload_date|date:"Y-m-d H:i"}}</td>
                  {% if file.is_reviewed %} {% if file.is_accepted %}
                  <td style="color: green">Принято</td>
                  {% else %}
                  <td style="color: red">Не принято</td>
                  {% endif %} {% else %}
                  <td style="color: orange">На проверке</td>
                  {% endif %}
                  <td>{{file.comment}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
